<template>
  <div class="d-inline-flex p-2">
    <!-- <form @submit="onSubmit">
      <input type="text" v-model="name" class="form-control" required/>
      <input  class="btn btn-primary" type="submit" placeholder="Submit" />
    </form> -->

    <form @submit="onSubmit" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" v-model="name" />
      <input class="btn " style="background-color:black; color:white;" type="submit" placeholder="Add Intern" />
    </form>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "AddIntern",
  data() {
    return {
      name: "",
      email: "",
    };
  },
  methods: {
    ...mapActions(["addIntern"]),
    onSubmit(e) {
      console.log(this.email);
      e.preventDefault();
      this.addIntern(this.name, this.email);
    },
  },
};
</script>