<template>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        ><span class="material-icons">face </span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <AddIntern />
      </div>
    </nav>
  </div>
</template>

<script>
import AddIntern from "./AddIntern";
export default {
  name: "Header",
  components: {
    AddIntern,
  },
};
</script>