<template>
  <div class="container color p-3">
    <div class="card m-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>

            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="intern in allInterns" :key="intern.id">
            <th scope="row">{{ intern.id }}</th>
            <td>{{ intern.name }}</td>
            <td>{{ intern.email }}</td>
            <td><span class="badge badge-danger" @click="deleteIntern(intern.id)">Remove</span></td>
          </tr>
        </tbody>
      </table>
      <!-- <ul id="list">
        <li
          v-for="intern in allInterns"
          :key="intern.id"
          class="card col-3 m-1"
        >
          <span class="name">{{ intern.name }}</span>
          <span class="name">{{ intern.email }}</span>
          <i class="material-icons" @click="deleteIntern(intern.id)"> close </i>
        </li>
      </ul> -->
    </div>
  </div>
  <!-- <button v-on:click=""> <button/> -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "List",
  methods: {
    ...mapActions(["fetchInterns", "deleteIntern"]),
  },
  computed: mapGetters(["allInterns"]),
  created() {
    this.fetchInterns();
  },
};
</script>

<style scoped>
/* #list {
 
  margin-bottom: 30px;
  padding: 10px 20px;
} */
.color {
  background-color: #9d6381;
}
/* #list ul {
  padding: 0;
} */
#list li {
  display: inline-block;
  margin-right: 10px;
  height: 100px;
  margin-top: 10px;
  padding: 20px;
  background: #0f110c;
  color: white;
}
.points {
  font-weight: bold;
  color: #e8800c;
}
span {
  cursor: pointer;
}
</style>