<template>
  <!-- <AddIntern/> -->
  <Header />
  <List />
</template>

<script>
import Header from './components/Header'
import List from './components/List'
import AddIntern from './components/AddIntern'

export default {
  name: 'App',
  components: {
  Header,
  List,
  AddIntern
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
</style>
